@use "variables" as v;
@use "mixins" as m;

.excel__toolbar {
  height: v.$toolbar-height;
  position: absolute;
  left: 0;
  right: 0;
  top: v.$header-height;
  border-top: 1px solid v.$border-color;
  border-bottom: 1px solid v.$border-color;
  padding: 7px 10px;
  display: flex;

  .button {
    @include m.button(green);
  }
}